{
  "plugins": [
    "babel-plugin-add-module-exports",
    "@babel/plugin-transform-object-assign"
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "6"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-istanbul"
      ]
    }
  }
}
