{
  "plugins": [
    "add-module-exports",
    "@babel/transform-object-assign"
  ],
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "10"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
