# Ignore the following file because it is expected to be syntax error
test/fake_modules/bad_js/index.js
# Ignore the following because .eslintrc is a problem
test/fake_modules/eslint_config/
test/fake_modules/node_modules/eslint-config-foo-bar/
# Ignore the following because they're not expected to be linted
test/fake_modules/eslint_config_js/
test/fake_modules/import_function/
test/fake_modules/import_function_missing/
test/fake_modules/import_function_template_literal/
test/fake_modules/import_function_webpack/
