# This file is to avoid `npm install` encounter chmod ENOENT error.
# Reference: http://stackoverflow.com/questions/17990647/npm-install-errors-with-error-enoent-chmod

# Ignore there folders because they will not be used in production code.
# Reference: http://blog.xebia.com/2015/09/22/publishing-es6-code-to-npm/
doc/
src/
test/
build/
coverage/
.nyc_output
