sudo: false

language: node_js

node_js:
  - 12

before_deploy:
  - ./node_modules/.bin/patch-version

deploy:
  - provider: npm
    skip_cleanup: true
    email: lukic.djordje@gmail.com
    api_key:
      secure: PwEt5+Vgf1Klas8rB1arAF/5zjIGMkP6NekNHkKhJXDwQkY3g19p3ORXnwOk4oRg3ggf3FO1CI7uh/fJb7nnfVMYc+X1Db1MoYgVQAWBS5L723VgLQ8I2BRHNie7CRmXywMUIV4E/8RYGeH/4b6jlY6gKNx3gnjeSeSjKyKl+OQ=
    on:
      tags: true
      node: 12
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: KSDU8zjWT7h0lE92ww+4GXAP4RMMXAqZ3fpq4F1C2tHCdK4udXBLPYhRead70FkHMXbRvAHL84KO5018Jnx4QNGvWjSYQxDH2mgMj7FxempSS/Vll30LlDym62F1v6zLvgICYfb+0phJJ2JCCk7gdKnhF+++Kq71DQDarLsUJXw=
    draft: true
    on:
      tags: true
      node: 12
